{% extends 'basic.html' %}
{% block title %}Package
{% endblock title %}
{% block body %}
<style>
    
.package-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: 10px;
    margin-right: 1100px;
    flex-direction:column;
    margin-bottom: 20px;
    overflow: hidden;
    
  }
  
  .package-image {
    height: 200px;
    overflow: hidden;
  }
  
  .package-image img {
    width: 100%;
  }
  
  .package-details {
    padding: 5px;
  }
  
  .package-details h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .package-details p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .package-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #ff9933;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #ffbf00;
  }
</style>
  
<h1 class="text-center text-dark">Packages </h1>
{% for i in result %}
<div class="package-card">
	<div class="package-image">
		<img src="" alt="Image">
	</div>
	<div class="package-details">
		<h2>Package Name:{{ i.package_name }}</h2>
    <h2>Package place:{{ i.package_place }}</h2>
		<p>Description:{{ i.desc }}</p>
		<div class="package-price">{{ i.package_price }}</div>
		<a href="#" class="btn">Book Now</a>
	</div>
</div>
{% endfor %}
{% endblock body %}