
{% extends 'basic.html' %}
{% block title %}contact
{% endblock title %}
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    text-align: center;
    margin-left: 10px;
    margin-right: 1100px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /* .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 50px solid #fff;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  overflow: hidden;
  margin-left: 400px;
  background-color: #cc1800;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0;
  font-size: 24px;
}

.card-content p {
  margin: 10px 0;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  margin-bottom: 5px;
  font-size: 16px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #cc1800;
} */

</style>
{% load static %}
{% block body %}
<h1 class="text-center text-dark">Travel Guide Booking Page </h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class="card">
  <img src="{% static 'images/t1.jpg' %}" alt="img" style="width: 80px;">
  <h1>Name:Vimal</h1>
  <p class="title">Location:Alappuzha</p>
  <p>Language known:Malayalam,English</p>
  <label for="date">Select date:</label>
  <input type="date" id="date" name="date"><br>
  <label for="time">Select time:</label>
  <input type="time" id="time" name="time"><br>
  <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>  -->
  <p>Fees:1000</p>
  <button class="btn btn-success">Book Now</button></a>
</div>
 <!-- <div class="card">
  <img src="{% static 'images/t1.jpg' %}" alt="img" style="width: 80px;">
  <div class="card-content">
    <h3>Vimal</h3>
    <p>Tourist guide in idukki</p>
    <form>
      <label for="date">Select date:</label>
      <input type="date" id="date" name="date"><br>
      <label for="time">Select time:</label>
      <input type="time" id="time" name="time"><br>
      <button type="submit">Book Now</button>
    </form>
  </div>
</div> -->


{% endblock body %}